{% extends 'base.html.twig' %}

{% block title %}DJ SHOP - Ajout d'une xbox{% endblock %}

{% block body %}
{% block javascripts %}
<script src="{{ asset('js/add_xbox.js')}}"></script>

{% endblock %}


<div class="container containerAddXbox">
   <h1 class="h1Add">Ajout d'une nouvelle console</h1>

   <div class="container containerAdd">
      <form method="POST" enctype="multipart/form-data" class="formAdd">
         <input type="hidden" name="add_xbox" value="true">
         <div class="column">
            <div class="left_column">

               <div class="inputAdd">
                  <label class="labelAdd" for="title">Titre</label>
                  <input type="text" id="title" name="title" style="width:450px;">
               </div>
               <div class="inputAdd">
                  <label class="labelAdd" for="description">Description</label>
                  <textarea type="text" id="description" name="description" ></textarea>
               </div>
               <div class="inputAdd">
                  <label class="labelAdd" for="price">Prix</label>
                  <input type="number" id="price" name="price" style="text-align:center ;">
               </div>


            </div>
            <div class="right_column">
               <div class="inputAdd inputAddRight" >
                  <div class="xboxGen">


                     <p class="labelAddRight">Génération de la console</p>
                     <div class="xboxGenIcon">
                        <label style="cursor: pointer;" class="custom-checkbox">
                           <label for="xboxFat">Xbox 360 Fat</label>
                           <input type="checkbox" id="xboxFat" name="generationFat" value="xboxFat" onclick="uncheckedSlim()">

                           <img  title="xboxFat"
                              class="icon unchecked imgFat" src="{{asset("image/fatNotSelect.png")}}" alt="">
                           <img  title="xboxFat"
                              class="icon checked imgFat" src="{{asset("image/fatSelect.png")}}" alt="">

                        </label>
                        <label style="cursor: pointer;" class="custom-checkbox">
                           <label for="xboxSlim">Xbox 360 Slim</label>
                           <input type="checkbox" id="xboxSlim" name="generationSlim" value="xboxSlim" onclick="uncheckedFat()">

                           <img  title="xboxSlim"
                              class="icon unchecked imgSlim" src="{{asset("image/slimNotSelect.png")}}" alt="">
                           <img  title="xboxSlim"
                              class="icon checked imgSlim" src="{{asset("image/slimSelect.png")}}" alt="">

                        </label>
                     </div>
                  </div>
               </div>
    
               <div class="inputFile" >
                  <label for="picture" class="labelAdd">Photos</label>
                  <input type="file" id="picture" name="picture[]" multiple />
               </div>


            </div>
         </div>

         <button type="submit" class="buttonAdd"><i class="fa-brands fa-xbox"></i> Validez</button>
      </form>
   </div>
   </div>
   <div class="container">


      {% for level, messages in app.flashes %}
      {% for message in messages %}
      <div id="errorsAddXbox" class="alert alert-{{ level }} mt-5 mb-5">
         {{ message|raw }}
      </div>
      {% endfor %}
      {% endfor %}
</div>


{% endblock %}