{% extends 'base.html.twig' %}

{% block title %}DJ SHOP - Mon Profil
{% endblock %}
{% block body %}
	{% block javascripts %}
		<script src="{{ asset('js/account.js')}}"></script>

	{% endblock %}


	<div class="container accountContainer">

		<div class="accountBody">
			<div class="accountMenu">
				<div class="menuChoice" id="accountChoice" onclick="account()">Mon Profil</div>
				<div class="menuChoice" id="adressChoice" onclick="adress()">Mes coordonnées</div>
				<div class="menuChoice" id="passwordChoice" onclick="password()">Sécurité</div>
				{% if app.user.isVerified == 0 %}
					<div class="menuChoice" id="verifiedChoice" onclick="verified()">Vérification de compte</div>
				{% endif %}
			</div>
			<div class="accountContent">
				<div class="titleContent">
					<span>Bonjour
						{{ app.user.firstname }}
						{{ app.user.lastname }}</span>
				</div>
				<div class="accountErrors">
					{% for level, messages in app.flashes %}
						{% for message in messages %}
							<div style="width:100%;" class="alert text-center col-6 alert-{{ level }}">
								{{ message|raw }}
							</div>
						{% endfor %}
					{% endfor %}
				</div>
				<div class="contentAccount">
					<div class="contentClass" id="userInfoAccount">
						<div class="labelContent">Mes Informations</div>
						<div class="userData">
							<div class="dataLine">
								<div class="labelData">Prénom</div>
								<div class="outputData">{{ app.user.firstname }}</div>
							</div>
							<div class="dataLine">
								<div class="labelData">Nom</div>
								<div class="outputData">{{ app.user.lastname }}</div>
							</div>
							<div class="dataLine">
								<div class="labelData">Email</div>
								<div class="outputData">{{ app.user.email }}</div>
							</div>
							<div class="dataLine">
								<div class="labelData">Téléphone</div>
								<div class="outputData">{{ app.user.phone }}</div>
							</div>
							<div class="dataLine">
								<div class="labelData">Adresse</div>
								<div class="outputData">{{ app.user.adress }}</div>
							</div>
							<div class="dataLine">
								<div class="labelData">Code Postal</div>
								<div class="outputData">{{ app.user.postal }}</div>
							</div>
							<div class="dataLine">
								<div class="labelData">Ville</div>
								<div class="outputData">{{ app.user.city }}</div>
							</div>
						</div>
					</div>
					<form method="post" class=" contentClass" id="adressEditForm">
						<div class="labelContent">Mes Coordonnées</div>
						<input type="hidden" name="editAdress" value="edited">
						<div class="adressEditInput">
							<div class="adressEditOne">
								<div class="adressInput">
									<p>Adresse :</p>
									<input type="text" value="{{ app.user.adress }}" name="adress">
								</div>
								<div class="adressInput">
									<p>Code Postal :</p>
									<input type="text" name="postal" value="{{ app.user.postal }}">
								</div>
							</div>
							<div class="adressEditTwo">

								<div class="adressInput">
									<p>Ville :</p>
									<input type="text" name="city" value="{{ app.user.city }}">
								</div>
								<div class="adressInput">
									<p>Téléphone :</p>
									<input type="text" name="phone" value="{{ app.user.phone }}">
								</div>
							</div>
						</div>
						<button type="submit" class="btnSubmitEdit" id="btnSumbitEdit">
							Modifiez</button>


					</form>


					<form method="post" class="contentClass contentClassPassword" id="passwordEditForm">
						<div class="labelContent">Sécurité</div>
						<input type="hidden" name="editPassword" value="edited">
						<div class="containerPassword">
							<div class="inputEditPass">
								<label for="oldPassword">Votre mot de passe actuel</label>
								<input type="password" name="oldPassword" id="oldPassword">
							</div>
							<div class="inputEditPass">
								<label for="newPassword">Nouveau mot de passe</label>
								<input type="password" name="newPassword" id="newPassword">
							</div>
							<div class="inputEditPass">
								<label for="confirmPassword">Confirmartion du mot de passe</label>
								<input type="password" name="confirmPassword" id="confirmPassword">
							</div>
							<button type="submit" id="btnEditPass" class="btnSubmitEdit">
								Modifiez</button>
						</div>


					</form>
					<div class="contentClass" id="verifiedForm">
						<div class="labelContent">Vérification du compte</div>
						<div class="notVerified">
							<p>Votre comptes n'a toujours pas étais vérifié, pour effectuer des commande vous devez impérativement avoir cliquez sur le lien envoyé par mail pour permettre la verification de votre compte.</p>
							<p>Un premier mail vous a étais envoyé au moment de cette inscription mais le lien expire au bout d'1 heures pour des raison de sécurité, vous pouvez a tout moment recevoir un nouveau lien de verification en cliquant ci-dessous.</p>

							<form method="post" class="notVerifiedForm">
								<input type="hidden" name="resendVerified" value="resendVerified">
								<button type="submit" class="btnResendVerified">Renvoyez le mail de confirmation</button>
							</form>
						</div>


					</div>
				</div>

			</div>
		</div>
	</div>


	{# <div class="container containerAccount">
									<h1 class="accountName">Profil de
										{{app.user.firstname}}
										{{app.user.lastname}}
									</h1>
									<div class="showErrors showErrorsAccount">
										{% for level, messages in app.flashes %}
											{% for message in messages %}
												<div class="alert text-center col-6 alert-{{ level }}">
													{{ message|raw }}
												</div>
											{% endfor %}
										{% endfor %}
									</div>
									{% if app.user.isVerified == 0 %}
										<div class="notVerified">
											<p>Votre comptes n'a toujours pas étais vérifié, pour effectuer des commande vous devez impérativement avoir cliquez sur le lien envoyé par mail pour permettre la verification de votre compte.</p>
											<p>Un premier mail vous a étais envoyé au moment de cette inscription mais le lien expire au bout d'1 heures pour des raison de sécurité, vous pouvez a tout moment recevoir un nouveau lien de verification en cliquant ci-dessous.</p>
							
											<form method="post">
												<input type="hidden" name="resendVerified" value="resendVerified">
												<button type="submit" class="btnResendVerified">Renvoyez le mail de confirmation</button>
											</form>
										</div>
									{% endif %}
									<div class="editAccount">
							
										<form method="post" class="adressEdit" id="adressEditForm">
											<input type="hidden" name="editAdress" value="edited">
											<div class="editContainer">
												<div class="selectEdit">
													<span id="spanInfo">Mes Informations</span>
													<div id="btnEditAccount" onclick="editAccount()">
														<i class="fa-solid fa-gear"></i>CONFIGURER
													</div>
													<div id="btnCancelEdit" onclick="editClose()">ANNULER</div>
												</div>
												<div id="showAdress">
													<div class="adressShow">
														<p>Adresse :</p>
														<span>{{ app.user.adress }}</span>
													</div>
													<div class="adressShow">
														<p>Code Postal :</p>
														<span>{{ app.user.postal }}</span>
													</div>
													<div class="adressShow">
														<p>Ville :</p>
														<span>{{ app.user.city }}</span>
													</div>
													<div class="adressShow">
														<p>Téléphone :</p>
														<span>{{ app.user.phone }}</span>
													</div>
												</div>
												<div id="editAdress">
													<div class="adressEditInput">
														<div class="adressEditOne">
															<div class="adressInput">
																<p>Adresse :</p>
																<input type="text" value="{{ app.user.adress }}" name="adress">
															</div>
															<div class="adressInput">
																<p>Code Postal :</p>
																<input type="text" name="postal" value="{{ app.user.postal }}">
															</div>
							
														</div>
														<div class="adressEditTwo">
							
															<div class="adressInput">
																<p>Ville :</p>
																<input type="text" name="city" value="{{ app.user.city }}">
															</div>
															<div class="adressInput">
																<p>Téléphone :</p>
																<input type="text" name="phone" value="{{ app.user.phone }}">
															</div>
														</div>
													</div>
													<button type="submit" class="btnSubmitEdit" id="btnSumbitEdit">
														Modifiez</button>
							
												</div>
											</div>
							
										</form>
							
							
										<form method="post" class="passwordEdit">
											<input type="hidden" name="editPassword" value="edited">
											<div class="passwordContainer">
												<div class="selectEdit">
													<span id="spanInfo">Modifiez mon mot de passe</span>
												</div>
												<div class="changePassword">
													<div class="paramPassword">
														<p>Votre mot de passe doit contenir au moins :</p>
														<ul>
															<li>8 caracteres</li>
															<li>1 majuscule</li>
															<li>1 chiffres</li>
														</ul>
													</div>
							
													<div class="editPassForm">
														<div class="inputEditPass">
															<label for="oldPassword">Votre mot de passe actuel</label>
															<input type="password" name="oldPassword" id="oldPassword">
														</div>
														<div class="inputEditPass">
															<label for="newPassword">Nouveau mot de passe</label>
															<input type="password" name="newPassword" id="newPassword">
														</div>
														<div class="inputEditPass">
															<label for="confirmPassword">Confirmartion du mot de passe</label>
															<input type="password" name="confirmPassword" id="confirmPassword">
														</div>
														<button type="submit" id="btnEditPass" class="btnSubmitEdit">
															Modifiez</button>
													</div>
												</div>
							
											</div>
							
							
										</form>
									</div>
								</div> #}


{% endblock %}
